{{ partial "header.html" . }}
<h1>{{ .Title }}</h1>

<!-- https://gitlab.com/mister_right -->


<ul id="projects-list">
    {{ range.Data.Pages }}
    <li>
        <article class="project-snippet">
            <div class="project-list-heading">{{ .Title }}</div>
            <div>{{ .Content }}</div>
            <div class="urls">
                <a class="project-list-a" target="#" href={{ .Params.site_url }}>webiste</a>
                <a class="project-list-a" target="#" href={{ .Params.code_url }}>code</a>
            </div>
        </article>
    </li>
    {{ end }}
</ul>

<p>other</p>
<ul>
    <li>
        <a target="#" href="https://gitlab.com/mister_right" class="project-list-a">my gitlab</a>
    </li>
    <li>
        <a target="#" href="https://github.com/FilipK0walewski" class="project-list-a">my github</a>
    </li>
</ul>
{{ partial "footer.html" . }}