{{ partial "header.html" . }}

<h1>{{ .Title }}</h1>

{{ .Content }}
<ul id="projects-list">
    {{ range .Params.projects }}
    <li>
        <span>{{ .name }}</span>
        <div class="urls">
            <a class="project-list-a" target="#" href={{ .website }}>webiste</a>
            <a class="project-list-a" target="#" href={{ .code }}>code</a>
        </div>
    </li>
    {{ end }}
</ul>

{{ if (eq (trim .Language " ") "en") }}
<p>More on my <a class="project-list-a" target="#" href="{{ .Params.github }}">github</a>.</p>
{{ else if (eq (trim .Language " ") "pl") }}
<p>więcej na <a class="project-list-a" target="#" href="{{ .Params.github }}">githubie</a>.</p>
{{ end }}

{{ partial "footer.html" . }}