#projects-list {
    list-style-type: disc;
    list-style-position: outside;
}

.project-snippet {
    margin: 0 !important;
    list-style-type: disc;
    /* padding: .5rem 1rem; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.project-snippet > *+* {
    margin-top: 0;
}

.project-list-a {
    text-decoration: underline;
}

.urls > *+* {
    margin-left: .5rem;
}

.project-list-heading {
    color: var(--color-1);
    font-size: 1.05rem;
}
