#projects-list {
    list-style-type: disc;
    list-style-position: outside;
}

.project-snippet {
    padding: .5rem 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.project-snippet > *+* {
    margin-top: 0;
}

.urls a {
    text-decoration: underline;
}

.urls > *+* {
    margin-left: .5rem;
}

.project-list-heading {
    color: var(--color-1);
    font-size: 1.25rem;
}
