<!DOCTYPE html lang="pl">
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>{{ .Site.Title }}</title>
	<title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
	<meta name="description" content="{{ .Param "description" }}">
	<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
	<script async src="https://umami.filipkowalewski.xyz/script.js" data-website-id="064781f6-b108-4e33-bbc6-e998b4cc188b"></script>
</head>

<body>
	{{ partial "nav.html" . }}
	<main>
		<div class="container">
