<input id="hamburger-checkbox" type="checkbox">
<header>
  <div class="container site-nav">
    <a class="logo" href="/" style="font-size: 1.2rem; font-weight: bolder;">
      Filip Kowalewski
      <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256">
        <path fill="currentColor"
          d="M238.74 211.69L137.5 53.5l21.24-33.19a8 8 0 0 0-13.48-8.62L128 38.66l-17.26-27a8 8 0 1 0-13.48 8.62L118.5 53.5L17.26 211.69A8 8 0 0 0 24 224h208a8 8 0 0 0 6.74-12.31ZM86.3 208l41.7-65.16L169.7 208Zm102.4 0l-54-84.31a8 8 0 0 0-13.48 0L67.3 208H38.62L128 68.34L217.38 208Z" />
      </svg> -->
    </a>

    <ul class="main-menu">
      {{ range.Site.Menus.main }}
      <li>
        {{ if eq (lower .Title) .Name }}
        <a style="text-decoration: underline !important;" href="{{ .URL }}">{{ .Name }}</a>
        {{ else }}
        <a href="{{ .URL }}">{{ .Name }} </a>
        {{ end }}
      </li>
      {{ end }}
    </ul>

    <label class="hamburger-label" for="hamburger-checkbox">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M3 6h18v2H3V6m0 5h18v2H3v-2m0 5h18v2H3v-2Z" />
      </svg>
    </label>

    <label class="hamburger-close-label" for="hamburger-checkbox">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path fill="currentColor"
          d="M6.4 19L5 17.6l5.6-5.6L5 6.4L6.4 5l5.6 5.6L17.6 5L19 6.4L13.4 12l5.6 5.6l-1.4 1.4l-5.6-5.6L6.4 19Z" />
      </svg>
    </label>


  </div>
</header>